/*
Colors used:
Background Color (Dark Purple): rgb(38),(28),(53), #261C35;
Primary Color (Dark Pink): #C48FC9;
Secondary Color (yellow): #FFEF7F;
Text Color (White): rgb(255),(255),(255), #FFFFFF:
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #261C35;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  color: white;
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/*header styling*/
header {
  background-color: rgba(22, 16, 31, 0.5);
  text-align: center;
  position: relative;
  padding: 10px 0;
  box-shadow: 0px 14px 30px 1px rgba(0, 0, 0, 0.39);
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.logo {
  max-width: 100px;
}

/*nav*/
a {
  color: #C48FC9;
  text-decoration: none;
  font-weight: 700;
  transition-duration: 0.6s;
}

a:hover,
a:focus {
  color: #FFEF7F;
  text-decoration: none;
}

a:visited,
a:focus {
  color: #F8B5FF;
}

a:active,
a:focus {
  color: #FFEF7F;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: 700;
}

/*index*/

#hero {
  text-align: center;
}

#hero h2{
  text-align: center;
  font-weight: 400;
}

#hero {
  padding: 30px 0;
  display: inline-block;
  width: 100%;
}

.row {
  margin: 25px 0;
  display: inline-block;
  width: 100%;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(22, 16, 31, 0.3);
}

.coverpic{
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

#contact {
  text-align: center;
}
#contact h3{
    font-weight: 700;

}
#contact p{
  padding: 25px;
  font-size: 0.75em;
}


/*social media icons*/
.social {
padding: 20px;
}

.social:hover{
  opacity: 0.5;
}

/*email link*/
.email {
  font-size: 1.50em;
  text-transform: uppercase;
  max-width: 80%;
}

.email {
  color: #A779AB;
  position: relative;
  text-decoration: none;
  transition: color .4s ease-out;
}

.email:hover {
  color: #FFEF7F;
  right: 0;
  text-decoration: none;
}

.email:hover:after {
  border-color: #FFEF7F;
  right: 0;
}

.email:after {
  border-radius: 1em;
  border-top: .1em solid #FFEF7F;
  content: "";
  position: absolute;
  right: 100%;
  bottom: .14em;
  left: 0;
  transition: right .4s cubic-bezier(0, .5, 0, 1),
  border-color .4s ease-out;
}

.email:hover:after {
  right: 0;
}

/*project*/

#workcontent h3{
    text-align: center;
    font-weight: 700;
    color: #bbacbf;

}

#workcontent h4{
    font-weight: 500;
}

/*work images*/
.workimg {
  max-width: 100%;
  height: auto;
}
/*about page*/

.mypicture, .sora {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 50%;
  border-radius: 25px;
}

#aboutme h1, h2{
    text-align: center;
}

.resumebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #C48FC9;
  color: #fff;
  font-size: 0.75em;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 50px;
}

.resumebutton:hover {
  opacity: 0.5;
}

/*View Project buttons*/
.button {
  display: inline-block;
  background-color: #C48FC9;
  color: #fff;
  margin-top: 30px;
  font-weight: 700;
  padding: 10px 24px;
  border-radius: 8px;
  text-decoration: none;
  transition-duration: 0.8s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 400ms ease-in-out;
  transition: #A779AB 400ms ease-in-out;
}

.button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  width: 0;
  height: 100%;
  background: #A779AB;
  z-index: -1;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
}

.button:hover {
  color: #FFEF7F;
}

.button:hover:after {
  width: 110%;
}

/*media queries*/

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
  text-align: unset;
  padding: 20px 0 13px;
}

  nav {
  width: auto;
  float: right;
  margin-top: 85px;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
